lfa-framework()

@import '../addons/lfa-backstage/css/main'
@import '../addons/lfa-exercises/css/main'
@import '_fonts'
@import '_avatar'


body
  font-family: 'Roboto Slab', serif

  background-color: #E8F7FF;

  .container
    background-color: white;

  #textbook
    strong
      font-weight: 800;

    .thin
      font-weight: 100;

    h1
      font-family: 'Roboto', sans-serif
      font-weight: 100
      font-size: 2.5em

      p:first
        margin-top: 1em

    h2, h3, h4, h5, h6
      font-family: 'Roboto', sans-serif
      font-weight: 400

    .minitoc
      margin: 2em 0;

    .teacher-visible
      background-color: #ffffbb
      padding: 1em
      border-radius: 2em
      border: 5px dashed black


    .inline-block
      display: inline-block

    .main-title
      margin-top: 4em
      text-align: center

      h1
        font-size: 3em

    .space-before
      margin-top: 4em

    .alert
      p
        margin-top: 0

    textarea
      width: 100%
      font-size: 0.7em

    .daily-agenda
      li
        p
          margin-top: 0
          text-indent: 1em
