+article("Începerea proiectului")
  +section("Începerea proiectului")
    :markdown
      # Începerea proiectului

    +minitoc

    .teacher-visible
      :markdown
        ### Obiectivele capitolului

        * Cum se începe un proiect
        * Ce sunt stakeholderii / Personas
        * Matricea putere / influență
        * Identificarea stakeholderilor

        ### Activități

        Prezentarea poveștii
        Găsirea părților interesate
        Realizarea matricii putere / influență
