+article("Title","Subtitle")
  +section("Section Name")
    :markdown
      ## FIXME

    +minitoc

    .teacher-visible
      :markdown
        ### Obiectivele capitolului

        * Cum se începe un proiect
        * Ce sunt stakeholderii / Personas
        * Matricea putere / influență
        * Identificarea stakeholderilor

        ### Activități

        Activitățile


//- Project Chartering / Alignment
//- Establishes common:
//- • Vision
//- • Goals/objectives
//- • Scope
//- • Availability
//- • Values
//- • Success measures
//- • Working agreements
//- 62
//- Non-Aligned Team


//- Personas
//- Determining Who We Are Building the Project For


//-  Identifying Stakeholders