+article("Grigore","Povestea pentru exerciții")
  +section("Grigore")
    :markdown
      # Grigore

      Grigore nu-și mai amintește ce s-a întâmplat ieri. Sau alarteieri. Deși este mijlocul lui iulie, e dimineață poate a patra sau a cincea de când s-a trezit în stradă. Îi este frig și tremură, dar este pentru prima oară când nu mai are poftă să bea.

      Îi este dor de Irina, pe care a întâlnit-o la o conferință despre fuziunea nucleară la Londra. Irina era rusoaică și s-au înțeles atât de bine încât ea a venit în București să stea cu el la mai puțin de o lună de când s-au văzut prima oară. Acum Irina, dacă acesta este numele ei real, e înapoi în Moskova, Sankt Petersburg sau cine știe unde. Era un contrast greu de explicat între o bunătate maternă și episoade de violență ieșite din comun, n-a înțeles-o niciodată, dar o iubea și făcea ce voia ea.

      Potofelul cu cărți de credit a ajuns de mult în Dâmbovița. Datoriile de pe ele au rămas încă. Alte datorii în afară de cei 8000 de euro nu are. Adică a avut, dar și-a vândut casa nu mai are decât un rănd de haine, un matiz și o sticlă pe jumătate plină de palincă. E debusolat nu știe ce să facă. S-a gândit să se angajeze pe undeva. De la Institutul de Fizică Nucleară l-au dat afară și nu i se pare că poate să se angajeze pe undeva -- e fizician, știe doar fizică, matematică și vreo trei limbaje de programare. Nu-i folosesc la nimic diplomele de cel mai bun speculator fictiv la Bursă sau de pianistul amator al anului.

      Grigore ar vrea să facă ceva, dar nu știe ce. Are nevoie de ajutor, de o foaie de parcurs, de un manual al vieții lui.

      # Manualul vieții lui Grigore

      Grigore are nevoie de un manual care să-l scoată din situația în care este și care să-l ducă într-o situație în care viața lui să aibă un sens.

      Sunt două firme care pot să îi ofere consultanța și documentele necesare: Nuage-Neuf și Lucifex. Scopul lor este similar, abordarea este însă total diferită. La fel și prețul ce trebuie plătit.

      Nuage Neuf pledează pentru o abordare graduală care în timp va aduce rezultate. Banii și-i obține din bunăstarea pe care clientul o aduce în lume.

      Lucifex oferă pe lângă manualul în sine un pachet de început foarte generos. Trebuie însă ca la sfârșitul vieții toate posesiunile materiale și imateriale realizate pe parcurs să le revină.

      # Obiectivul

      Alegeți o companie dintre cele două cu care să lucrați. Urmați apoi fiecare exercițiu indicat de trainer.