+article("Ciclul 0","Începutul")
  +section("Ciclul 0 - Începutul")
    :markdown
      # Ciclul 0 - Începutul

      Agiliștii se referă la începerea efectivă a proiectului derept *Ciclul 0*

      În această interație:

      * Se pune la punct mediul tehnic
      * Se adună echipa
      * Se crează cadrul pentru începerea activităților
      * Se asigură participarea *stakeholder*-ilor
      * Se asigură că echipa are o viziune comună
      * Se agreează ce înseamnă că ceva *este gata* (*definition of done*)
      * Se inițializează *Product Backlog* cu primele user stories-uri

      Ciclul 0 seamănă cu inițierea/planificarea clasice, dar durează maxim una-două săptămâni.

      Mai multe informații: [*Initiating an Agile Project*, Scott W. Ambler, June 01, 2006](http://www.drdobbs.com/architecture-and-design/initiating-an-agile-project/188700850#) și [How do I start an Agile project?](http://agileconsortium.blogspot.ro/2008/04/how-do-i-start-agile-project.html)

  +notes('Cycle0')