+article("Stakeholders. Personas","Analiza părților intersate")
  +section("Stakeholders - Analiza părților intersate")
    :markdown
      # Stakeholders. Personas

      *Părțile interesate* sunt acei oameni (sau organizații) afectați pozitiv sau negativ de activitățile sau de rezultatele proiectului. Cuprind cel puțin echipa, sponsorul, clientul dar ar putea să includă și ONG-uri, autorități locale, concurenți etc.


      *Personas* sunt personaje tipice fictive folosite ca exemple pentru oamenii care vor interacționa efectiv cu sistemul realizat.

      Cele două concepte pot fi folosite independent. Rolul lor este ca echipa să aibă clar pentru cine face proiectul.


      ## Analiza părților intersate

      Nu toți stakeholder-ii sunt egali. Ei au putere și interes diferite unul față de celălalt. În funcție de acestea strategia de management a lor este diferită.


    .row
      .col-md-2
      .col-md-8
        +lightbox('img/stakeholdermatrix.jpg')
        .caption Matricea părților intersate. Strategii.

    +notes('Stakeholders')