+article("Metodologii Agile", "Promisiuni, Clarificări, ")
  +section("Metodologii Agile")
    :markdown
      # Metodologii Agile

    +minitoc

    .teacher-visible
      :markdown
        ### Obiectivele capitolului

        * Procese clare vs. Procese Empirice
        * Promisiunile Agile
        * Ce este de fapt Agile
        * Idei de tranziție spre Agile
        * Enumerarea metodologiilor Agile
        * Detalii despre Scrum (puțină istorie, roluri, caracteristici generale)

        ### Activități

        Activitățile
