//- //- Inspect and Adapt

//-  http://agilemanifesto.org/iso/ro/
//- Indivizii şi interacţiunea înaintea proceselor şi uneltelor
//- Software funcţional înaintea documentaţiei vaste
//- Colaborarea cu clientul înaintea negocierii contractuale
//- Receptivitatea la schimbare înaintea urmăririi unui plan

//- Cu alte cuvinte, deşi există valoare în elementele din dreapta, le apreciem mai mult pe cele din stânga.

//- Prioritatea noastră este satisfacţia clientului prin livrarea rapidă şi continuă de software valoros.

//- Schimbarea cerinţelor este binevenită chiar şi într-o fază avansată a dezvoltării. Procesele agile valorifică schimbarea în avantajul competitiv al clientului.

//- Livrarea de software funcţional se face frecvent, de preferinţă la intervale de timp cât mai mici, de la câteva săptămâni la câteva luni.

//- Oamenii de afaceri şi dezvoltatorii trebuie să colaboreze zilnic pe parcursul proiectului.

//- Construieşte proiecte în jurul oamenilor motivaţi. Oferă-le mediul propice şi suportul necesar şi ai încredere că obiectivele vor fi atinse.

//- Cea mai eficientă metodă de a transmite informaţii înspre şi în interiorul echipei de dezvoltare este comunicarea faţă în faţă.

//- Software funcţional este principala măsură a progresului.

//- Procesele agile promovează dezvoltarea durabilă. Sponsorii, dezvoltatorii şi utilizatorii trebuie să poată menţine un ritm constant pe termen nedefinit.

//- Atenţia continuă pentru excelenţă tehnică şi design bun îmbunătăţeşte agilitatea.

//- Simplitatea--arta de a maximiza cantitatea de muncă nerealizată--este esenţială.

//- Cele mai bune arhitecturi, cerinţe şi design emerg din echipe care se auto-organizează.

//- La intervale regulate, echipa reflectă la cum să devină mai eficientă, apoi îşi adaptează şi ajustează comportamentul în consecinţă.