//- Agile is a way of thinking (mindset, philosophy)
//- nu un  proces, unealtă sau pcocedură

//- se manifestă prin MULTE practici / metodologii diferite

//- known scope vs emerging scope
//- triple constraints
//- timeboxed

//- The Delivery Team: A team that has everything and everyone they need to deliver a working sl
