+article("Ce este agile")
  +section("Ce este agile")
    :markdown
      # Ce este Agile

      Idei principale:
        * Agile este un mod de gândire (o filozofie), nu un proces, unealtă sau procedură
        * Agile se manifestă prin foarte multe practici și metodologii diferite
        * Este potrivit pentru conținut care evoluează odată cu proiectul

      Tripla constrângere a proiectului clasic se inversează. În mod tradițional conținutul proiectului (*scope*) este fix și timpul și costul sunt estimate.

    .row
      .col-md-2
      .col-md-8
        +lightbox("img/triple-constraint-agile.jpg")
        .caption Tripla constrângere inversată

    :markdown
      În cazul Agile, timpul și costurile sunt oarecum fixe (avem o echipå pe care o plåtim constant, iar iterațile sunt stabilite), în schimb scopul este cel care variază.

      Avem *cutii de timp* (*time boxes*), iar principala caracteristică este adaptablilitatea.

      De asemenea structura echipei este diferită față de structura tradițională. În continuare fiecare are un rol propriu, dar în echipa agilă acest rol nu este exclusiv. În Agile avem designeri care ajută la corectură, programatori care scriu documentația pentru utilizatori șamd.

  +notes("WhatIsAgile")