//- Transitioning to a new process is hard. The benefits of doing so must outweigh the cost. Organizations that have made the switch to the Scrum agile process report the following benefits, all of which are related and build on each other:

//- Higher productivity
//- Higher quality
//- Reduced time-to-market
//- Improved stakeholder satisfaction
//- Increased job satisfaction
//- More engaged employees
//- Having more engaged employees leads to more productivity gains, initiating a virtuous cycle of continuous improvement. The data behind these claims are available in Chapter 1 of Succeeding with Agile.