+article("Trecerea la Agile")
  +section("Trecerea la Agile")
    :markdown

      # Trecerea la Agile

      Trecerea la un proces nou este mereu dificilă. Beneficiile însă sunt mult mai mari decât costurile asociate. Organizațiile care au făcut această trecere au declarat că au obținut următoarele avantaje (care au legătură unele cu altele, de fapt care se construiesc unele pe altele):

      * Productivitate mai mare
      * Calitate mai mare
      * Timp redus de la idee la livrarea produsului (*time-to-market*)
      * Părțile interesate sunt mai satisfăcute
      * Membrii echipei sunt mai satisfăcuți
      * Pentru că membrii echipei sunt fericiți, productivitatea este mai mare

      ## Metodologii Agile

      Cum spuneam, *Agile* este un mod de a gândi, nu o metodologie sau o serie de proceduri. Există însă metodologii care sunt compatibile cu acest mod de gândire.

      * Adaptive Software Development (ASD)
      * Agile Modeling
      * Agile Unified Process (AUP)
      * Crystal Methods (Crystal Clear)
      * Disciplined Agile Delivery
      * Dynamic Systems Development Method (DSDM)
      * Extreme Programming (XP)
      * Feature Driven Development (FDD)
      * Lean software development
      * **Kanban**
      * **Scrum**
      * Scrum-ban


      Sunt organizații care preferă să urmeze până la ultima virgulă indicațiile unei anume metodologii, însă acestea sunt foarte rare. Agilitatea constă tocmai în adaptare, iar adaptarea înseamnă tocmai că și metodologiile folosite sunt particularizate și ele.

    +notes("TrecereaLaAgile")