+article("Scrum","Metodologia Scrum")
  +section("Scrum")
    :markdown
      # Scrum

      * Scrum este o metodă iterativă și incrementală de dezvoltare a produselor. Definește "o strategie holisitică și flexibilă de dezvoltare de produs în care o echipă de dezvoltare lucrează unitar pentru a realiza un obiectiv comun";

      * Le permite echipelor să se auto-organizeaze, încurajând co-locarea (sau strânsa colaborare online) între toți membrii echipei, respectiv comunicarea față-în-față între toate persoanele și funcțiile din proiect;

      * Scrum recunoaște că în timpul proiectului clienții se pot răzgândi în ceea ce privește lucrurile pe care și le doresc sau de care au nevoie. De asemenea acceptă că vor exista provocări care nu este posibil să fie adresate într-o manieră predictivă sau planificată;

      * Scrum acceptă că există probleme care nu pot fi pe depln înțelese sau definite, concentrându-se în schimb pe maximizarea puterii echipei de a livra repede și de a răspunde la cerințele ce apar.

    p.small sursă:
      a(href ="http://en.wikipedia.org/wiki/Scrum_(software_development)") Wikipedia

    p

    .row
      .col-md-2
      .col-md-8
        +lightbox("img/scrum1.jpg")
        .caption Daily Scrum la Read Forward

    :markdown

      ## Particularități ale metodologiei Scrum

      Scrum are o serie de concepte și vocabular proprii. Le vom detalia pe parcurs, dar pe scurt, acestea sunt:

      * Iterațiile se cheamă **sprint**-uri
      * În fiecare zi are loc o întâlnire în picioare (nimeni nu stă jos): *daily scrum*
      * Echipă de dimensiuni mici (<10 persoane)

    .row
      .col-md-2
      .col-md-8
        +lightbox("http://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Scrum_process.svg/1200px-Scrum_process.svg.png")
        .caption Procesul Scrum
          br
          span.small
            a(href="http://commons.wikimedia.org/wiki/File:Scrum_process.svg#mediaviewer/File:Scrum_process.svg") Credit imagine: "Scrum process" by Lakeworks - Own work.



