+article("Încheiere")
  +section("Încheiere")
    :markdown
      # Încheiere


      * Cum se poate aplica ce am învățat în viața de zi cu zi
      * Realizarea unui mini-plan de aplicare a cunoștințelor

    +notes('Closing')