+article("Încheiere")
  +section("Încheiere")
    :markdown
      # Încheiere

    +minitoc

    .teacher-visible
      :markdown
        ### Obiectivele capitolului

        * Cum se poate aplica ce am învăat în viața de zi cu zi
        * Realizarea unui mini-plan de aplicare a cunoștințelor

        ### Activități

        Activitățile
