+article("Title","Subtitle")
  +section("Section Name")
    :markdown
      ## FIXME

    +minitoc

    .teacher-visible
      :markdown
        ### Obiectivele capitolului

        * Cum se poate reprezenta munca?
        * Ce este un burndown chart
        * Ce este un burn-up
        * Ce este *velocity*

        ### Activități

        Activitățile
