+article("Title","Subtitle")
  +section("Section Name")
    :markdown
      ## FIXME

    +minitoc

    .teacher-visible
      :markdown
        ### Obiectivele capitolului

        * Ce este release planning
        * Cum se fac estimările. Când să te oprești cu estimările

        ### Activități

        Activitățile
