+article("Echipa Agile","Roluri, comunicare, poziționare")
  +section("Echipa Agile")
    :markdown
      # Echipa Agile

      ## Roluri, comunicare, poziționare

    +minitoc
    .teacher-visible
      :markdown
        ### Obiectivele capitolului

        * Care sunt principiile generale ale echipelor Agile
        * Care sunt rolurile în proiectele clasice
        * Care sunt rolurile în Scrum
        * Comunicarea față în față / telefon / chat. Costuri de comunicare

        ### Activități

        * Cu monede arată structurile ierarhice  din diverse proiecte

    .row
      .col-md-2
      .col-md-8
        +lightbox('img/fun-after-scrum.jpg')
        .caption După o iterație (în biroul Read Forward)
    p

//- Productowner:Maximizeproduct’svalue and team’s work
//- • Developmentteam:Deliverapotentially releasable increment of “done” product from each iteration
//- • ScrumMaster:Team’sservantleader;ensure the process is understood

//- Agile Teams Are Self-Organizing