+article("Echipa Agile","Roluri, comunicare, poziționare")
  +section("Echipa Agile")
    :markdown
      # Echipa Agile: Roluri, comunicare, poziționare

    +minitoc

    .teacher-visible
      :markdown
        ### Obiectivele capitolului

        * Care sunt principiile generale ale echipelor Agile
        * Care sunt rolurile în proictele clasice
        * Care sunt rolurile în Scrum
        * Comunicarea față în față / telefon / chat. Costuri de comunicare

        ### Activități

        Activitățile

//- Whole team ─ No silos

//- Willingtohelpwithothertaskstoachieve the team’s goal
//- • Examples:
//- – BA who can help with testing
//- – Web developer who helps write backend code
//- – Developer who helps with testing or gathers requirements, etc.

//- Productowner:Maximizeproduct’svalue and team’s work
//- • Developmentteam:Deliverapotentially releasable increment of “done” product from each iteration
//- • ScrumMaster:Team’sservantleader;ensure the process is understood

//- Agile Teams Are Self-Organizing