+article("Principiile echipelor agile")
  +section("Principiile echipelor agile")
    :markdown
      # Principiile echipelor agile

      Echipele agile sunt:

      * Multi-funcționale (*cross-functional*) - cu abilități din domenii diverse;
      * Oamenilor li se dă puterea să se auto-organizeze;
      * Oamenii se pricep și participă la mai multe (dar fără să fie generaliști);
      * Business-ul decide CE se face, echipa decide CUM se face.

      * Ierarhia e pe dos, în fapt -- Servant Leader

    .row
      .col-md-2
      .col-md-8
        +lightbox('img/designer-multicalificat.jpg')
        .caption Membrii echipei sunt încurajați să facă mai multe decât efectiv rolul lor. Aici un designer ajută la introducerea de conținut, la testare și comandă pizza, pe lângă rolul său predominant de a face design.

    +notes('TeamPrinciples')