+article("Roluri în echipa Scrum","Scrum Master, Product Owner, etc.")
  +section("Roluri în echipa scrum")
    :markdown
      # Roluri în echipa Scrum

    .row
      .col-md-1
      .col-md-10
        +lightbox('img/agile-team.jpg')
        .caption Echipa Scrum are o ierarhie foarte plată. ScrumMaster-ul facilitează și înlătură piedicile. Product Owners știu ce trebuie să se întâmple cu produsul. Sponsorul are cravată.

    :markdown
      ## ScrumMaster-ul

      ScrumMaster-ul este mentorul echipei și ajută la practicanții Scrum să atingă cel mai ridicat nivel de performanță. I se mai spune și *servant-leader*

      În Scrum, un ScrumMaster diferă serios de un manager de proiect tradițional, inclusiv că acest rol nu oferă direcția de zi cu zi echipei si nu alocă sarcinile pentru persoane.

      Un ScrumMaster bun protejează echipa de distrageri din exterior, lucru care permite membrilor echipei să se concentreze pe tot timpul sprintului la obiectivele pe care le-au ales.

      ## Product Owner-ul

      În timp ce ScrumMaster-ul se concentrează să ajute echipa să dea tot ce e mai bun, Product Owner-ul se străduiește să conducă echipa către obiectivul corect. Product Owner-ul face acest lucru prin crearea unei viziuni convingatoare a produsului, iar apoi transmite această viziune a echipei prin întârzierile produs.

      Product Owner-ul este responsabil de prioritizarea cerințelor în timpul dezvoltării, și se asigură că echipa este la curent cu amănuntele sistemului ce se constuiește, utilizatorii săi etc.

      ## Echipa Scrum

      Un alt rol este evident: *Echipa* însăși. Deși în echipă persoanele intră cu diverse roluri, titluri și fișe de post, în Scrum aceste roluri sunt mai puțin importante. Metodologia spune că fiecare persoană contribuie așa cum poate pentru a duce treaba la bun sfărșit.

    +notes('TeamRolesScrum')