+article("Title","Subtitle")
  +section("Section Name")
    :markdown
      ## FIXME

    +minitoc

    .teacher-visible
      :markdown
        ### Obiectivele capitolului

        * Ce sunt specificațiile - de ce nu sunt ele bune
        * Ce sunt Epics / Features / User Stories / Tasks
        * Ce este Backlog-ul. La ce este bun, cine se ocupă de el?

        ### Activități

        Activitățile


//- Breakthevisiondowninto:
//- – Epics: High-level outcomes needed to accomplish the vision
//- – Features: Specific changes needed to deliver the epics
//- • Thesecanbeestimatedatahighlevelto determine the product roadmap

//- Decomposition - Epic - ￼Feature  - Story - Details Just in Time
//- Ateachlevelthereare“conditionsofsatisfaction”

//- The Product Backlog


//- A User Story Is ...
//- ￼
//- Card Conversation Con

//- Why Not Specifications?
//- • Assumeeverythingisknowable in advance
//- • Aretime-consumingtowriteand tedious to read (thousands of “The system shall...”)
//- • Treatlearningasa “change of scope”
//- • Don’tlendthemselvesto iterative, incremental delivery process

//- A Common User Story Template  As a Customer, I want to browse movie listings by genre, to find movies to rent and boost income
//- Attributes of a Good Story

//- Instructions: As a team, rewrite these sentences as good user stories:
//- Code system support for banner advertisements from external advertisers to drive website revenue
//- 2. System needs to allow reports to be run on membership trends, including age and location demographics
//- 3. All financial transactions should be handled via SecureServe system

 //- Estimation
 //- Diminishing Returns of Estimation