+article("Structura backlog-urilor")
  +section("Structura backlog-urilor")
    :markdown
      # Structura backlog-urilor

      Sunt două backlog-uri:

      * Product backlog - fără limite. Elementele lui nu reprezintă angajamente
      * Sprint backlog - cu deadline

      Oricine poate adăuga lucruri în product backlog, dar este sarcina Product Owner-ului să le țină ordonate. De obicei în backlog-uri sunt user stories, dar poate conține cerințe non-funcționale, defecte de rezolvat etc.

      Există întâlniri de "pieptănat backlog-ul" (*Backlog Refinement Meeting*, *Backlog Grooming*)

    +notes("BacklogStructure")