+article("Epic, Feature, User Story")
  +section("Epic, Feature, User Story")
    :markdown
      # Epic, Feature, User Story

      Viziunea proiectului este împărțită în:

      * **Epics** - rezultate de nivel foarte înalt necesare pentru a realiza viziunea. Ideal mai mici de 6 sprint-uri
      * **Features** - lucruri ce trebuie făcute pentru a livra un Epic. Ideal mai mici de 3 sprint-uri
      * **User story** - una-două propoziții în limbaj normal de business al utilizatorului care descrie ceea ce utilizatorul face sau are nevoie să facă cu produsul
      * **Task** -- lucruri specifice realizate din descompunerea User Story-urilor care trebuie făcute pentru ca User Story-urile să fie îneplininte.

      La fiecare nivel ar trebui să existe un criteriu de acceptare.


    +notes("EpicStory")