+article("User Stories")
  +section("User Stories")
    :markdown
      # User Stories

      Una-două propoziții pe limba utilizatorului legate de o activitate pe care acesta trebuie sau dorește să o facă cu produsul.

      * **I**ndependent
      * **N**egociable
      * **V**aluable
      * **E**stimable
      * **S**mall
      * **T**estable

      Conține un titlu, și criterii de acceptanță. De cele mai multe ori există și o descriere, de forma:

      * As a ____(end user role)____,
        I want ____(the desire)____
        so that ____(the rationale)____.

      * Ca ____(rol)____
        vreau să ____(activitate)____
        pentru a ____(motivație)____

      Pe spate (dacă e pe post-it sau pe cartonaș are criterii de acceptanță). Criteriile de acceptanță sunt diferite de "definition of done". Definition of done este general pentru toate user story-urile din proiect, pe când cele de acceptanță doar pentru acesta.

      Exemplu de "Acceptance Criteria"
      * Trebuie să ruleze pe IE10+
      * Numele vide de utilizatori nu sunt acceptate

      Exemplu de "Definition of Done"

      * Livrabilul a fost verificat de autor
      * Livrabilul a fost evaluat și verificat de un coleg
      * Documentația este completă

    +notes('UserStories')