+article("Introducere")
  +section("Introducere")
    :markdown
      # Introducere


    +minitoc

    .teacher-visible
      :markdown
        ### Obiectivele capitolului

        * Ne cunoaștem
        * Intrăm în atmosferă

        ### Activități

        **Brief encounters**

        Pe cartoane (sau sferturi de A4) tipăresc întrebări:
          1. Care a fost cea mai mare problemă din ultimul proiect la care ai participat?
          2. Ce ai schimba în modul în care gestionezi următorul proiect?
          3. Ce strategii ai folosi ca proiectul tău viitor să se termine mai repede?
          4. Cine determină care sunt cerințele pe care proiectul tău trebuie să re realizeze?
          5. Cum determini care sunt prioritățile pe care le are proiectul tău?
          6. Cum îți dai seama dacă proiectul merge bine sau rău?
          7. Cum îți dai seama dacă o cerință a unuia dintre proiectele tale a fost îndeplinită cu adevărat?
          8. Cât de mare este echipa ideală și la cât timp ar trebui să se întâlnească?
