+article('Salutări', 'Bun venit, despre trainer')
  +section('Bun venit, despre trainer')
    h1 Bun venit!

    .alert.alert-danger(role='alert')
      :markdown
        Programul celor două zile conține exerciții care se fac cel mai bine pe computer.

        Nu este obligatoriu, dar este recomandat să ai la tine un laptop sau o tabletă. Se poate și fără, dar este mai eficient dacă ai.

        Vom folosi unelte online gratuite:
          * Trello (crează-ți cont, dacă nu ai [link direct](https://trello.com/cdinu/recommend))
          * Google Docs (ai nevoie de un cont Google, cel mai probabil ai deja, dacă nu, îți poți crea [aici](https://accounts.google.com/signup?service=mail))

    :markdown
      ### Despre trainer

      Salutări,

      Sunt Cristian Dinu și voi avea plăcerea să fiu instructorul și facitatorul tău în cursul „Metodologii Agile de Management de Proiect”.


      Atunci când nu țin cursuri – adică în majoritatea timpului – mă ocup de creșterea unei edituri digitale, al cărei cofondator sunt. Echipa actuală este de 7 oameni plus alți câțiva colaboratori externi și principalele proiecte pe care le facem sunt cele de materiale educaționale digitale.

      Împreună cu [Read Forward](http://readfwd.com) (așa se numește editura) am lansat [primul manual digital](http://lectiaverde.ro) din România, am creat [software-ul](http://learnfwd.com) pentru patru clase digitale utilate de Samsung pentru ministerele educației din România și din Bulgaria iar cu Editura Humanitas am realizat forma electronică a manualelor de Limba Română și Matematică pentru clasele I și II.

      Înainte de ReadFwd, am lucrat o bună perioadă în companii mari, unde am avut parte de experiențe de management de proiect clasic (vei vedea la curs cu ce se deosebește în bine și în rău față de managementul de proiect "agil").

      Găsești mai multe informații despre mine – respectiv date de contact pe [LinkedIn](http://www.linkedin.com/in/cdinu), [Twitter](http://www.twitter.com/cdinu) sau [Facebook](https://www.facebook.com/cristian.dinu.infoideea). Am și [un fel de blog](http://dnu.cc) pe care scriu din când în când, dar în general sunt lucruri mai degrabă fără subiecte profesionale.

      Pagina următoare conține câteva întrebări care să ne ajute să ne cunoaștem mai bine.

    +notes('salutari')