+article('Despre colegi', 'Colegii')
  +section('Despre colegi')
    h1 Despre colegi

    p Ai început deja să iți cunoști colegii. Îți poți nota numele sau informații despre ei în căsuța de mai jos.

    +notes('ContactInfo', 20)