+article('Despre tine', 'și despre așteptările tale')
  +section('Despre tine și despre așteptările tale')
    h1 Despre tine

    :markdown
      Deși materialele din curs sunt fixe, pentru că obiectivele de învățare sunt aceleași pentru toți participanții, o parte din acest curs poate fi adaptată pentru a se potrivi mai bine cu interesele tale -- exemplele date, detalii suplimentare ori materiale sau resurse extra.

      De aceea ar fi excelent dacă ai putea să răspunzi la câteva întrebări care să ne ajute să creăm o experiență de învățare cât mai eficientă (și evident, plăcută). Este un formular Google Docs, iar răspunsurile sunt confidențiale. Derulează pentru a vedea toate întrebările.

    iframe(src='https://docs.google.com/forms/d/1YQwX2IRYJwINEkQXiLdexKSeqqVZQqWhotHe9YfFvVs/viewform?embedded=true', width='760', height='500', frameborder='0', marginheight='0', marginwidth='0') Loading...

