+article('Agenda cursului')
  +section('Programul celor două zile')
    h1 Programul celor două zile

    h2 Ziua 1

    .daily-agenda
      ul
        li
          em Sesiunea 1
          span.small 9:00 - 10:15
          p Introducere. Metodologiile clasice de management de proiect
        li
          em Sesiunea 2
          span.small 10:30 - 11:45
          p Metode agile de management de proiect. Caracteristici, avantaje, dezavantaje
        li
          em Sesiunea 3
          span.small 12:00 - 13:15
          p Echipele Agile. Roluri
        li
          em Sesiunea 4
          span.small 13:30 - 14:45
          p Managementul cerințelor

      h2 Ziua 2

      ul
        li
          em Sesiunea 1
          span.small 9:00 - 10:15
          p Managementul cerințelor (cont.)
        li
          em Sesiunea 2
          span.small 10:30 - 11:45
          p Planificarea iterațiilor. Iterații
        li
          em Sesiunea 3
          span.small 12:00 - 13:15
          p Iterații (cont.). Monitorizare și raportare
        li
          em Sesiunea 4
          span.small 13:30 - 14:45
          p Monitorizare și raportare. Încheiere.

    +notes('agenda')
