+article("Title","Subtitle")
  +section("Section Name")
    :markdown
      ## FIXME

    +minitoc

    .teacher-visible
      :markdown
        ### Obiectivele capitolului

        * Ce este *Iteration Review*
        * Care sunt obiectivele unui *Iteration Review*
        * Cum se pregătește
        * Ce se întâmplă în ședință (demonstrație)
        * Retrospectiva / Auto-analiza

        ### Activități

        Activitățile
