+article("Clasic și Agile", "Metodologiile clasice vs. Agile")
  +section("Metodologiile clasice")
    :markdown
      ## Metodologiile clasice de Management de proiect

    +minitoc

    +notes('ClasicVsAgile')

    .teacher-visible
      :markdown
        ### Obiectivele capitolului

        * Înțelegerea conceptului *Waterfall*
        * Diversele moduri de reprezentare a conceptului - cascada / grupurile de procese PMI
        * Determinarea avantajelor și dezavantajelor Waterfall
        * Demontarea miturilor
        * Înțelegerea nevoii de evoluție a modelului clasic
        * Stăpânirea conceptelor de fază și iterație

        ### Activități

        * Dialog interactiv pentru determinarea în grup a pașilor Waterfall
        * Determinarea și notarea avantajelor și dezavantajelor metodologiilor clasice
        * Dialog pentru determinarea modalităților de mărire a flexibilității și micșorare a timpului
