+article("Metodologiile clasice", "Waterfall, PMI")
  +section("Metodologiile clasice")
    :markdown
      # Metodologiile clasice

      Managementul de proiect este cu omenirea dintodeauna. S-a dezvoltat însă ca disciplină în ultimii zeci de ani

    .row
      .col-md-2
      .col-md-8
        +img('http://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Waterfall_model.svg/800px-Waterfall_model.svg.png')

    :markdown
      Idei de reținut:

      * Le lipsește flexibilitatea
      * Dar sunt foarte previzibile
      * Livrează rezultate î

      Unde este potrivit waterfall?
      Metodologiile Waterfall sunt foarte utile pentru proiecte (și contexte) în care:

      * Schimbările sunt mici
      * Nu este necesară inovația
      * Sunt puține lucruri necunoscute
      * Clientul știe ce vrea
      * Există deja un proces bine definit

    +notes('Waterfall')
