+article("Metodologiile clasice", "Waterfall, PMI")
  +section("Metodologiile clasice")
    :markdown
      # Metodologiile clasice. Waterfall

      Managementul de proiect este cu omenirea dintodeauna. S-a dezvoltat însă ca disciplină doar în ultimii zeci de ani. Pentru a avea previzibilitate în livrarea rezultatelor, organizațiile au creat procese clare de management al proiectelor.

      Pentru că activitățile proiectului sunt aproape în totalitate secvențiale, reprezentarea arată ca o cascadă (*Waterfall*), de unde și numele acestor metodologii.

    .row
      .col-md-2
      .col-md-8
        +lightbox('http://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Waterfall_model.svg/800px-Waterfall_model.svg.png')
        .caption Proces tipic Waterfall -- cascadă (sursă Wikipedia)

    :markdown
      #### Viziunea PMI

      **PMI** ([*Project Management Institute*](http://www.pmi.org)) este organizația non-profit cu sute de mii de membri care crează standarde de facto pentru disciplina managementului de proiect. Ei propun pentru proiecte o abordare în care planificarea și execuția se pot suprapune, dar ciclurile de suprapunere sunt tot mari. De aceea se poate spune și despre ceea ce propun ei că intră tot în categoria conceptului de waterfall.

    .row
      .col-md-2
      .col-md-8
        +lightbox("img/ProcessGroups-PMBOK.png")
        .caption Viziunea PMI -- există cicluri, dar foarte rare (sursă Wikipedia)

    :markdown
      #### Idei de reținut despre metodologiile Waterfall:

      * Le lipsește flexibilitatea
      * Dar sunt foarte previzibile
      * Au perioade lungi de livrare
      * Forțează disciplina. Ai date de livrare clare
      * Sunt ușor de estimat (scop, timp și bani)

      ### Unde este potrivit Waterfall?

      Metodologiile Waterfall  sunt foarte utile pentru proiecte (și contexte) în care:

      * Schimbările sunt mici
      * Nu este necesară inovația
      * Sunt puține lucruri necunoscute
      * Clientul știe ce vrea
      * Există deja un proces bine definit

    +notes('Waterfall')
