+article("Mituri în proiecte", "Și realitățile vieții")
  +section("Mituri în proiecte")
    :markdown
      ### Mituri în proiecte. Realitățile vieții

      • Well over 50% of software features are never used
        • In most systems, less than 10% of features are always used
        • Why do we create so many features not used by our customers?
        • Causes:
        – Anticipating features
        – Failed projects
        – Gold plating 24


      Myths ...
        • Customerknowsexactlywhattheywant
        • Developers know exactly how to build it
        • Nothingwillchangealongtheway
        Reality
        • Customersdiscoverwhattheywantwhenthey see/experience it
        • Developersdiscoverhowtobuilditwhenthey build it
        • Manythingschangealongtheway