+article("Nevoia de agilitate","Adaptare și evoluție")
  +section("Nevoia de agilitate")
    :markdown
      # Nevoia de agilitate

      Problema serioasă a metodologiilor de management de proiect a fost că lumea economică și socială s-au schimbat. Domeniul care a evoluat cel mai rapid a fost inițial cel al tehnologiei (în special informatice), ceea ce explică de ce de multe ori în acest curs referințele sunt din software și calculatoare. Lucrurile au evoluat iar acum dimportivă, sunt rare domeniile în care evoluția lucrurilor să nu fie similară cu cea din IT. Industria farmaceutică, turismul, totul se schimbă din temelii la fiecare câțiva ani.

      Să livrezi rezultate rar (la câteva luni, sau la cățiva ani) nu mai este deci fezabil.

      A fost nevoie de o evoluție care să permită două lucruri importante:

      * Să livreze primele rezultate mai repede și celelalte pe parcurs, în loc de toate odată
      * Să permită schimbări dese de conținut (*scope*), datorită schimbărilor dese ale mediului exterior

      Evoluția nici măcar nu este recentă. Primele inițiative în acest sens au apărut în anii 60.

      ### Împărțirea fazelor

      O primă măsură care poate fi luată este aceea de a avea în loc de un proiect monolit mai multe faze (un fel de sub-proiecte). Fazele sunt secvențiale, efortul este același, dar primele rezultate apar mai repede.

    .row
      .col-md-2
      .col-md-8
        +lightbox("img/faze-laxe.png")
        .caption Se poate ca un proiect să fie împărțit în faze distincte.

    :markdown
      ### Suprapunerea fazelor

      O îmbunătățire a situației de mai sus este suprapunerea fazelor, timpul fiind scurtat (dacă oameni sau departamente diferite se ocupă de activitățile din cascadă -- analiză, design, implementare).

    .row
      .col-md-2
      .col-md-8
        +lightbox("img/faze-suprapuse.png")
        .caption Fazele pot fi suprapuse parțial.

    :markdown
      ### Iterație

      O altă modalitate de a împărți fazele proiectului este aceea de a nu le lega de anumite livrabile, ci de o perioadă de timp. Se împarte astfel proiectul într-o mulțime de mini-proiecte a câte două săptămâni (sau o lună).

      Schimbările pot fi asimilate foarte ușor, permițând echipei de proiect să fie mult mai agilă.

    .row
      .col-md-2
      .col-md-8
        +lightbox("img/iteratii.png")
        .caption Fazele pot fi constrănse la 2 săptămâni.

    +notes('NevoiaDeAgilitate')

