+article("Chapter review", "Questions and notes")
  +section("Chapter review")
    :markdown
      Shu,Ha,Ri
      Traditional Way ─ Relay race
      Agile Way ─ Full team (Scrum) approach Largebatchflowtosmallbatchflow
      IKIWISI ─ Gulf of evaluation


    b Dă câteva exemple de proiecte în care waterfall este metodologia cea mai potrivită

    +textline({name: 'waterfall-vs-agile-review-1', type: 'multiline', rows: 4, regexp: /.{25,}/})