+article("Iterațiile","Planificare, execuție, review")
  +section("Iterațiile")
    :markdown
      # Iterațiile

    +minitoc

    .teacher-visible
      :markdown
        ### Obiectivele capitolului

        * Cum se planifică o iterație
        * Spargerea user-stories-urilor în task-uri
        * Ce este KanBan ?
        * Cum arată o zi obișnuită a echipei
        * Colocare și echipe virtuale
        * Standup meeting

        ### Activități

        * Try a dysfunctional daily stand-up meeting (5 min). Team will choose 1 or 2 dysfunctional behaviors to display during the meeting.


//- What have you done since the last meeting?
//- What are you working on today?
//- Are there any issues or impediments to your progress?

//- Speaktotheteam,notthe ScrumMaster
//- • Nosideconversations

//- During the meeting, each team member answers three questions:

//- What have you done since yesterday?
//- What are you planning to do today?
//- Any impediments/stumbling blocks? Any impediment/stumbling block identified in this meeting is documented by the Scrum Master and worked towards resolution outside of this meeting. No detailed discussions shall happen in this meeting.