+article("Title","Subtitle")
  +section("Section Name")
    :markdown
      ## FIXME

    +minitoc

    .teacher-visible
      :markdown
        ### Obiectivele capitolului

        * Cum se planifică o iterație
        * Spargerea user-stories-urilor în task-uri
        * Ce este KanBan ?
        * Cum arată o zi obișnuită a echipei
        * Colocare și echipe virtuale
        * Standup meeting

        ### Activități

        Activitățile

        * Try a dysfunctional daily stand-up meeting (5 min). Team will choose 1 or 2 dysfunctional behaviors to display during the meeting.


//- What have you done since the last meeting?
//- What are you working on today?
//- Are there any issues or impediments to your progress?

//- Speaktotheteam,notthe ScrumMaster
//- • Nosideconversations