+article("Planificarea Sprint-ului")
  +section("Planificarea Sprint-ului")
    :markdown
      # Planificarea Sprint-ului

      Planificarea Sprint-ului se face în cadrul unei întâlniri în prima zi a acestuia în care  product owner-ul și echipa vor agrea ce se mută din product backlog în sprint backlog pentru a fi efectuat. Tot în acest meeting echipa va stabili un set inițial de task-uri care sunt necesare pentru a îndeplini obiectivele sprint-ului.

      De obicei limitată la 4 ore.

      Se validează și backlog-ul de produs pentru a ne asigura că elementele cele mai importante sunt în top-ul acestuia.
      Se ia din vârful product backlog-ului un item și se pune în sprint backlog. Se împarte în sarcini.

      Se pune întrebarea: "Putem să facem ce este până acum în sprint backlog fără să compromitem definiția lui *gata* și fără să muncim peste program?" Dacă da, se reia de la pasul anterior.

      Este important de reținut că:

      * Munca pentru ceea ce s-a ales trebuie să fie realizată integral în sprint;
      * Livrabilele sunt terminate și potențial publicabile;
      * Nu se alocă persoane încă.

      În cadrul sprint-ului product owner-ul e disponibil mereu pentru întrebari. Este util dacă participă la daily scrums.

  +notes("PlanificareaSprintului")