+article("Daily Scrum")
  +section("Daily Scrum")
    :markdown
      # Daily Scrum

      Este o întâlnire:

      * Ținută în picioare
      * De maxim 15 minute
      * Fiecare răspunde la trei întrebări:
        1. Ce-am făcut ieri
        2. Ce fac azi
        3. Care sunt lucrurile care îmi stau în cale

      Se poate face un "Sidebar", cu chestiuni de discutat după întâlnire

  +notes("DailyScrum")