+article("Finalul Sprint-ului")
  +section("Finalul Sprint-ului")
    :markdown
      # Finalul Sprint-ului. Sprint Review

      La final de sprint (vinerea dimieneața de e exemplu) se țin una sau două ședințe:

      * *Sprint review meeting* (2 ore)
      * *Sprint retrospective meeting* (2 ore)

      **Sprint review meeting**

      Echipa oferă o demonstrație în direct a noilor funcționalități ale produsului. Demonstrația este ținută pentru Product Owner. Pentru cei din afara echipei, această întâlnire este partea cea mai vizibilă. Agenda cuprinde printre altele:

        * Criteriile de acceptanță și *definition of done*
        * Productivitatea echipei
        * Transparență și implicarea stakeholder-ilor
        * Noi elemente în Backlog

      Întâlnirea este interactivă și se bazează pe scenarii.


      **Sprint retrospective meeting**

      Aceasta este o întâlnire opțională, dar recomandată, ultima din fiecare sprint.

      În această întâlnire:
        * echipa se gândește (analizează) sprint-ul ce tocmai se încheie;
        * ce nu a mers bine, ce a mers bine;
        * cum să fie în următirul sprint,

  +notes("FinalulSprintului")