+article('Metodologii Agile de Management de Proiect', 'Coperta')
  +section('Metodologii Agile de Management de Proiect')
    .main-title
      h1 Metodologii Agile de Management de Proiect
      h3 (suport de curs)

      h3 Cristian Dinu, 2014
      a.author-details(href='http://twitter.com/cdinu', target='_blank') @cdinu

      p.space-before Acesta este un fragment din suportul de curs la care vei avea acces permanent. Este diferit față de un suport de curs obișnuit nu numai pentru că nu irosește hârtie, ci și pentru că poți interacționa direct cu el. De exemplu peste trei pagini vei putea să răspunzi la câteva întrebări care să ne ajute să facem cursul mai bun.

      p.space-before.small (apasă pe butonul din dreapta jos pentru a continua sau pe unul din capitolele de mai jos pentru a merge direct la el)

      +minitoc

