+article('Metodologii Agile de Management de Proiect', 'Coperta')
  +section('Metodologii Agile de Management de Proiect')
    .main-title
      h1 Metodologii Agile de Management de Proiect
      h3 (suport de curs)

      h3 Cristian Dinu, 2014
      a.author-details(href='http://twitter.com/cdinu', target='_blank') @cdinu

      .row
        .col-md-5
        .col-md-2
          +lightbox("http://chart.googleapis.com/chart?cht=qr&chs=150x150&choe=UTF-8&chld=H&chl=http://goo.gl/dGLmra")

      p.space-before Acesta este un fragment din suportul de curs la care vei avea acces permanent la adresa 
        a(href="execedu-agile.herokuapp.com") execedu-agile.herokuapp.com
        |. Este diferit față de un suport de curs obișnuit nu numai pentru că nu irosește hârtie, ci și pentru că poți interacționa direct cu el.

      .space-before
        :markdown
          Manualul electronic este realizat cu LFA [*Learn Forward Author*](https://github.com/learnfwd/lfa) versiunea 0.5.17.

          Licență conținut și imagini: 2014, Creative Commons - Share Alike, Non Commercial
          Atribuire către: *Cristian Dinu, 'Suport de curs "Metodologii Agile de Management de Proiect"'*

          Sursele și imaginile sunt disponibile pe [GitHub](https://github.com/cdinu/agile-execedu/tree/master) și sunt realizate de autor, cu excepția celor specificate ca atare.

      p.space-before.small (apasă pe butonul din dreapta jos pentru a continua)

